.form-wrapper {
    /* border-top: 1px solid #777777; */
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-wrapper input{
    display: block;
    height: 43px;
    border: 1px solid #d1d1d1;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 10px;
}

.form-wrapper input:focus {
    /* outline-width: none; */
    outline: none;
    border-color: #333333;
}

.profile-btn {
    background-color: #333333;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}