.testimonial {
    background-color: #F9F9F9;
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimonial-title {
    text-align: center;
    position: relative;
}

.testimonial-title h3 {
    color: #333333;
    font-family: "BankGothik", sans-serif;
    text-transform: uppercase;
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 20px;
}

.testimonial-wrap {
    padding: 30px 40px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    outline: none;
    border: none;
}

@media(max-width: 360px) {
    .testimonial-wrap {
        padding-top: 10x !important;
    }
}

.testimonial-wrapper {
    background-color: #fff;
    /* width: 329px; */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    padding: 20px 25px;
    position: relative;
}

.testimonial-image img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -25px;
    margin-top: -25px;
}

.testimonial-wrapper > p {
    color: #707070;
    font-size: 14px;
    padding-top: 8px;
}

.testimonial-detail {
    display: flex;
    justify-content: space-between;
}

.testimonial-detail p {
    color: #404040;
    font-size: 14px;
}

.testimonial-detail a svg {
    margin: 0 2px;
}

.testimonial-detail a {
    color: #FDC02F;
}